*{
  margin: 0;
}
body{
  background: white;
}
input{
  font-family: verdana;
}
.Header{
  width: 100%;
  background: linear-gradient(#1247e5, #0080ff);
  height: 120px;
}
.logo{
  height: 65px;
  float: left;
  width: 65px;
  margin: 30px 20px;
}
.Header h1{
  float: left;
  color: white;
  margin: 50px 5px;
  font-size: 25px;
  font-family: verdana;
}
.cari{
  float: left;
  margin: 50px 90px;
  background-color: white;
  width: 550px;
  height: 35px;
  border-radius: 5px;
  border: none;
}
.masuk{
  float: left;
  font-family: verdana;
  font-size: 20px;
  color: white;
  margin: 50px 10px;
}
.Daftar{
  float: left;
  font-family: verdana;
  font-size: 20px;
  color: white;
  margin: 50px 10px;
}
.pencarian{
  float: left;
  width: 22px;
  height: 22px;
  margin: 5px 10px;
}
.pencarian1{
  float: left;
  background: #1247e5;
  width: 40px;
  height: 30px;
  margin: 53px -300px;
  border-radius: 5px;
}
.garisv{
  float: left;
  height: 35px;
  margin: 47px -82px;
  width: 2px;
}

.sapidiskon{
  float: left;
  margin: 0px 450px;
  height: 190px;
  width: 500px;
}
.bardiskon{
  float: left;
  margin: 30px 365px;
}
.kambing{
  float: left;
  width: 180px;
  height: 240px;
  margin: 30px 190px;
}
.sapie{
  float: left;
  width: 180px;
  height: 240px;
  margin: 30px -110px;
}
.karung{
  float: left;
  width: 180px;
  height: 240px;
  margin: 30px 180px;
}
.susu{
  float: left;
  width: 180px;
  height: 240px;
  margin: 30px -80px;
}
.kambing1{
  float: left;
  width: 180px;
  height: 240px;
  margin: 30px 190px;
}
.sapie1{
  float: left;
  width: 180px;
  height: 240px;
  margin: 30px -110px;
}
.karung1{
  float: left;
  width: 180px;
  height: 240px;
  margin: 30px 180px;
}
.susu1{
  float: left;
  width: 180px;
  height: 240px;
  margin: 30px -80px;
}
.kambing2{
  float: left;
  width: 180px;
  height: 240px;
  margin: 30px 190px;
}
.sapie2{
  float: left;
  width: 180px;
  height: 240px;
  margin: 30px -110px;
}
.karung2{
  float: left;
  width: 180px;
  height: 240px;
  margin: 30px 180px;
}
.susu2{
  float: left;
  width: 180px;
  height: 240px;
  margin: 30px -80px;
}
.bodie{
  float: left;
  margin: 10px 0px;
  width: 100%;
}
.list{
  float: left;
  margin: 0px 0px;
}
